[submodule "modules/flecs"]
	path = modules/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "modules/yaml-cpp"]
	path = modules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "modules/Lua"]
	path = modules/Lua
	url = https://github.com/walterschell/Lua.git
[submodule "modules/openal-soft"]
	path = modules/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "modules/DiligentCore"]
	path = modules/DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "modules/DiligentTools"]
	path = modules/DiligentTools
	url = https://github.com/DiligentGraphics/DiligentTools.git
[submodule "modules/enet"]
	path = modules/enet
	url = https://github.com/zpl-c/enet.git
