[submodule "modules/flecs"]
	path = modules/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "modules/yaml-cpp"]
	path = modules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "modules/asio"]
	path = modules/asio
	url = https://github.com/boostorg/asio.git
[submodule "modules/Lua"]
	path = modules/Lua
	url = https://github.com/walterschell/Lua.git
[submodule "modules/DiligentCore"]
	path = modules/DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "modules/DiligentFX"]
	path = modules/DiligentFX
	url = https://github.com/DiligentGraphics/DiligentFX.git
[submodule "modules/DiligentTools"]
	path = modules/DiligentTools
	url = https://github.com/DiligentGraphics/DiligentTools.git
